{% extends 'base.html' %}
{% block style %}
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
{% endblock %}
{% block content %}

<h1 align="center"> Submitted/Inprocess Claims List</h1> <br>
<table id="customers" style="width:100%">
  <tr>
    <th>Claim Number</th>
    <th>Policy Number</th>
    <th>Claim Status</th>
    <th>Proces</th>
  </tr>
{% for instance in object_list %}
  <tr>
    <td>{{ instance.claim_id }}</td>
    <td>{{ instance.policy_no }}</td>
    <td>{{ instance.claim_status }}</td>
    <td><a  href='{{ instance.get_absolute_url}}'>  Click Here Process </a></td>
  </tr>
{% endfor %}
</table>

{% endblock %}