{% extends 'base.html' %}
{% block content %}

<h1>My General Insurance Product</h1>
<h2>Modules</h2>
<l1>
Underwriter <br>
Endorsement <br>
RE-INSURANCE <br>
RENEWALS <br>
CLAIMS <br>
Finance <br>
</l1>
<p1>General Insurance means to “Cover the risk of the financial loss from any natural calamities viz. Flood, Fire, Earthquake,
    Burglary, etc.. i.e. the events which are beyond the control of the owner of the goods for the things having insurable interest
    with the utmost good faith by declaring the facts about the circumstances and the products by paying the stipulated sum ,
    a premium and not having a motive of making profit from the insurance contract.”</p1>
<br>
<br>
•	Motor Insurance: Motor Insurance can be divided into two group, one is car Four wheeler insurance and other is two wheeler insurance.
<br>
•	Health Insurance: Common types of health insurance includes, individual health insurance, family floater health insurance, comprehensive health insurance and critical illnes insurance.
<br>
•	Travel Insurance: Travel insurance can be broadly grouped into Individual travel policy, Family Travel policy, student travel insurance and senior citizen health insurance.
<br>
•	Home Insurance: Home insurance protects house and its contents in bad time.
<br>
•	Marine Insurance: Marine cargo insurance covers goods, freight, cargo and other interests against loss or damage during transit by rail, road, sea and/or air.

<div>
<a href='{% url "MyAdmin:homepage" %}' class="btn btn-primary" role="button"> Home </a>
</div>
{% endblock %}