{% extends 'base.html' %}
    {% block title %}
        <title>
            Agent Create
        </title>
     {% endblock %}
<body>
    {% block formname %}
        <h3 align="center">ProductCreate Form</h3>
    {% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
            <div align="center">
    {{ Pform.as_p }}
            </div>
        <div align="right">
            <button type="submit">Submit</button>
        </div>

    </form>
{% endblock %}
    <</body>